.profile {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
.pic {
    width: 120px;
    height: 120px;
}
.tittle {
    width: 350px;
    height: 100px;
    position: relative;
    left: 300px;
    bottom: 100px;
}
.occupation {
    font-family: sans-serif;
}

